<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <h2>Edit User</h2>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id}/edit (id=${user.getId})}" th:object="${user}">

    <label for="name">Enter Name: </label>
    <input type="text" th:field="*{name}" id="name">

    <br> <br/>

    <label for="lastName">Enter Surname: </label>
    <input type="text" th:field="*{lastName}" id="lastName">

    <br> <br/>


    <label for="age">Enter Age: </label>
    <input type="text" th:field="*{age}" id="age">

    <br> <br/>

    <label for="mail">Enter Email: </label>
    <input type="text" th:field="*{mail}" id="mail">

    <br> <br/>

    <input type="submit" value="Update User"/>
</form>
</body>
</html>