<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View User</title>
    <h2>View User</h2>
</head>
<body>
<br/>
<div th:if="${user}">
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td th:utext="${user.name}">...</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>:</td>
            <td th:utext="${user.lastName}">...</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>:</td>
            <td th:utext="${user.age}">...</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td th:utext="${user.mail}">...</td>
        </tr>
    </table>
    <br/><br/>

    <a th:href="@{{id}/edit (id=${user.getId()})}">Edit User</a>
</div>

<a th:href="@{/users}">Back to Contact List</a>
</body>
</html>