<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <h2> All Users</h2>
</head>

<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Age</th>
        <th>Mail</th>
        <th>Action</th>
    </tr>
    <tr th:each="user : ${usersList}">

        <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.id}">...</a></td>
        <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.name}">...</a></td>
        <td th:utext="${user.lastName}">
        <td th:utext="${user.age}">
        <td th:utext="${user.mail}">
        <td>

            <form th:method="DElETE" th:action="@{/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>

        </td>
    </tr>
</table>

<br>
<input type="button" value="Add New User"
       onclick="window.location.href = 'newUser'"/>

</body>
</html>